enem2010/enem2010.csv
enem2010/DADOS_ENEM_2010.csv
enem2010/DADOS_ENEM_2010.txt
enem2010/DADOS_ENEM_2010_CUT.csv
enem2010/Dicionário_Microdados_ENEM_2010.xls
enem2010/QUESTIONARIO_SOCIO_ECONOMICO_ENEM_2010.csv
enem2010/QUESTIONARIO_SOCIO_ECONOMICO_ENEM_2010.txt
enem2010/QUESTIONARIO_SOCIO_ECONOMICO_ENEM_2010_CUT.csv
enem2010/microdados_enem2010_2.rar

enem2011/enem2011.csv
enem2011/DADOS_ENEM_2011.TXT
enem2011/DADOS_ENEM_2011.csv
enem2011/DADOS_ENEM_2011_CUT.csv
enem2011/Dicion*rio_Microdados_ENEM_2011.xlsx
enem2011/QUESTIONARIO_SOCIO_ECONOMICO_ENEM_2011.TXT
enem2011/QUESTIONARIO_SOCIO_ECONOMICO_ENEM_2011.csv
enem2011/QUESTIONARIO_SOCIO_ECONOMICO_ENEM_2011_CUT.csv
enem2011/microdados_enem2011.zip

enem2012/enem2012.csv
enem2012/DADOS_ENEM_2012.csv
enem2012/DADOS_ENEM_2012_CUT.csv
enem2012/Dicion*rio_Microdados_ENEM_2012.xlsx
enem2012/QUESTIONARIO_ENEM_2012.csv
enem2012/QUESTIONARIO_ENEM_2012_CUT.csv
enem2012/microdados_enem2012.zip
